SECRET_KEY = 'django-insecure-t9mcym$yx(l)!4q0m)tr6&kr%(owk2@g_g79n4*ayvvk!big7-'

DATABASE_NAME=dungeons_deadlines
DATABASE_USER=postgres
DATABASE_PASSWORD=pass
DATABASE_HOST=localhost
DATABASE_PORT=5432

AVATAR_API_BASE_URL = 'https://api.dicebear.com/10.x/pixel-art/svg'